# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

# Django
DJANGO_DEBUG=True

# postgres
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432