# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

# Django
DJANGO_DEBUG=True

# Postgres
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# OPEN ROUTER
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
#,deepseek/deepseek-r1-0528:free

HOST=http://127.0.0.1:8000
RELOAD=true